html
{
  width: 320px;
  overflow-y:hidden;
}

body 
{
	dir: __MSG_@@bidi_dir__;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	min-width: 90px;
	height: 480px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 80%;
	overflow:hidden;
}

#Menu 
{
	height: 22px;
	width: 300px;
	border: 1px;
	margin-bottom: 3px;
}

#column-left 
{  
    float:left;
    width:auto;
	height: auto;
}

#column-right 
{
   float:right;
   width:auto;
   height: auto;
}

#column-centry
{
   width:auto;
   height: auto;
   float:left;
}


#quick_search
{
	border: 1px solid;
	border-color: #d6d6d6;
	font: -webkit-small-control;
	border-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	margin-top: 0px;
	margin-left: 2px;
	width: 100%;
}

input#quick_search:focus 
{
	outline: 0px solid #3366cc;
} 
a.btn
{
	display: inline-block;
	color:#000;
	height:18px;
	line-height:18px;
	margin-bottom:2px;
	text-decoration:none;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 5px 5px;
	border: 1px solid;
	border-color: #d6d6d6;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
 	background-color: rgba(220, 220, 220, 0.496094);
}
a:hover.btn
{
	background-color: rgba(224, 241, 255, 0.496094);	
}

span.add_button, span.remove_button, span.options_button, span.sync_button, span.sync_button_progress
{
	text-indent:18px;
	display:block;
}


span.add_button
{
	background: url(images/sticky_note_plus.png) no-repeat 0px 1px;
}

span.remove_button
{
	background: url(images/sticky_note_minus.png) no-repeat 0px 1px;
}

span.options_button
{
	background: url(images/hammer-screwdriver.png) no-repeat 0px 1px;
}

span.sync_button
{
	background: url(images/arrow-circle-double.png) no-repeat 0px 1px;
}

span.sync_button_progress
{
	background: url(images/arrow-circle-anim.gif) no-repeat 0px 1px;
}

span.filter_button
{
	background: url(images/funnel.png) no-repeat 0px 1px;
	width: 16px;
	display:block;
}

span.filter_button_hi
{
	background: url(images/funnel_hi.png) no-repeat 0px 1px;
	width: 16px;
	display:block;
}

#LinkedNotes 
{
	height: 450px;
	width: 300px;
	border: 1px solid;
	border-color: #d6d6d6;
}

#NotesList 
{
	overflow: auto;
	/* Initial/min/max height for this pane */
	height: 211px;
	min-height: 0px;
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	padding: 1px 3px 1px 1px;
}

div.note
{
 	-webkit-transition: background 0.1s ease-in;
 	border: 1px solid rgba(255, 255, 255, 0);
	border-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	cursor: default;
	display: block;
	line-height: 20px;
	white-space:nowrap;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin: -1px 0px;
}

div.note .delete
{
  width: 16px;
  height: 16px;
  background: transparent url(images/cross-button-bw.png) no-repeat center center;
  position: absolute;
  top: 2px;
  right: 6px;
  opacity: 0;
}

div.note:hover .delete 
{
  opacity: 0.7;
}

div.note:hover .delete:hover
{
  opacity: 1.0;
  background-image: url(images/cross-button.png);
}

div.note:hover
{
	border-color: #3366cc;
}

div.highlight, div.highlight:hover
{
	border-color: #3366cc;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
 	background-color: rgba(182, 212, 252, 0.496094);
}

#NoteText
{
	overflow: hidden;
	height: 235px;
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
}

textarea.note
{
	font-family: sans-serif;
	height: 100%;
	width: 294px;
	resize: none;
	border: 0px;
	background: #ffd;
	overflow-x: hidden;
	padding-top: 0px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 0px;
}

textarea.note:focus 
{
	outline: 0px solid #3366cc;
} 

#LinkedNotes .hsplitbar 
{
	-webkit-transition: background 0.15s ease-in;
	height: 4px;
	background: #d6d6d6 url(images/hgrabber.gif) no-repeat center;
}

#LinkedNotes .hsplitbar.active, #LinkedNotes .hsplitbar:hover 
{
	background: #B6CCF3 url(images/hgrabber.gif) no-repeat center;
}

span.simple, span.linked
{
	vertical-align: middle;
	-webkit-padding-start: 20px;
}

span.simple
{
	background: url(images/sticky_note_text.png) no-repeat 0px 0px;
}

span.linked
{
	background: url(images/sticky_note_arrow.png) no-repeat 0px 0px;
}

div.message
{
	display: none;
	position: absolute;
	top: 30; 
	left: 0;
	z-index: 10;
	background:#ffc;
	padding:5px;
	border:1px solid;
	text-align:center;
	font-weight:bold;
	width:300px;
	border-color: #D1DDFF;
	background-color: rgba(224, 241, 255, 0.9);
	border-radius: 5px;

}
